body,
header {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: transparent;
  padding: 10px 0;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-scrolled {
  background-color: #084149;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content img {
  height: 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu ul li {
  margin-left: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: white;
}

.header-desktop-button {
  margin-left: 20px;
}

.header-desktop-button button {
  padding: 10px 10px;
  background-color: #bafb67;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.header-desktop-button button:hover {
  background-color: #ccff99;
  color: black;
}

@media (max-width: 768px) {
  .nav-menu,
  .header-desktop-button {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 10px;
    z-index: 1001;
  }

  .hamburger span {
    height: 2px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    left: 10px;
    background: black;
    width: calc(100% - 20px);
    padding: 20px;
    box-sizing: border-box;
  }

  .nav-menu.active ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .nav-menu.active ul li {
    margin: 10px 0;
  }

  .header-desktop-button.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .header-desktop-button.active button {
    width: 100%;
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
  }

  #logo-header {
    margin: 0 auto;
  }

  .hamburger {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  header {
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
}
