.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 40px;
  text-align: center;
}

.login-form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.login-form .form-group input:focus {
  border-color: #084149;
  outline: none;
}

.forgot-password-link {
  display: block;
  margin: 10px 0;
  text-align: left;
  color: #084149;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #bafb67;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.login-form button[type="submit"]:hover {
  background-color: #ccff99;
}

.login-form .create-account {
  margin-top: 20px;
  display: inline-block;
  color: #084149;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  display: block;
}

.back-to-login-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #084149;
  text-decoration: none;
}

.back-to-login-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-form .form-group input,
  .login-form button[type="submit"] {
    width: 95%;
  }

  .login-form {
    padding-left: 30px;
  }
}
